<a href="#/product/createProduct">Créer un produit</a>

<table class="table table-bordered">
  <caption>
    Liste des produits.
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>libelle</th>
      <th>caractéristique</th>
      <th>catégorie</th>
      <th>image</th>
      <th>prix</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="produit in productCtrl.products">
      <td>{{produit.id}}</td>
      <td>{{produit.libelle}}</td>
      <td>{{produit.caracteristique}}</td>
      <td>{{produit.categorie}}</td>
      <td>{{produit.image}}</td>
      <td>{{produit.prix}}</td>
      <td>
        <button ng-click="">Modifier Produit</button>
        <button ng-click="self.delProduct">Supprimer Produit</button>
      </td>
    </tr>
  </tbody> 
</table>
