<a href="#/product/createProduct">Créer un produit</a>

<input type="text" ng-model="searchProduct" placeholder="Chercher dans la liste" style="float:right" autofocus>

<table class="table table-bordered">
  <caption>
    Liste des produits.
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>libelle</th>
      <th>caractéristiques</th>
      <th>catégorie</th>
      <th>image</th>
      <th>prix</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in productCtrl.products | filter:searchProduct">
      <td>{{product.id}}</td>
      <td>{{product.libelle}}</td>
      <td>
          <script type="text/ng-template" id="modalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Caractéristiques du produit {{product.id}}</h3>
              </div>
              <div class="modal-body">
                  {{product.caracteritique}}
              </div>
          </script>
          <button type="button" class="btn btn-default" ng-click="productCtrl.open(product)">Afficher caractéristiques</button>
      </td>
      <td>{{product.categorie}}</td>
      <td><img data-ng-src="{{product.image}}" alt="le produit {{product.id}}" height="200" width="200"/></td>
      <td>{{product.prix}}</td>

      <td><a href = "#/product/updateProduct/{{product.id}}"><button class="btn btn-default center-block">Modifier Produit</button></td>
      <td><button ng-click="productCtrl.delProduct(product.id)">Supprimer Produit {{produit.id}}</button></td>
    </tr>
  </tbody> 
</table>
