<a href="#/customer/createCustomer">Créer un client</a>

<table class="table table-bordered">
  <caption>Liste des clients</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Login</th>
      <th>Mot de Passe</th>
      <th>Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customerCtrl.customers | orderBy:'id'">
      <td> {{customer.id}}</td>
      <td> {{customer.nom}}</td>
      <td> {{customer.prenom}}</td>
      <td> {{customer.login}}</td>
      <td> {{customer.password}}</td>
      <td> {{customer.adress}}</td>
      <td>
        <a href="#/customer/updateCustomer" onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'">Modifier client</a>
      </td>
      
    </tr>
  </tbody>
</table>
