
<div class="container">
   <a href="#/customer/listcustomer">Liste des clients</a>
  <h2>Modification des clients</h2>
{{updateCustomerCtrl.customer}}
  <form role="form" ng-submit="updatectrl.updateCustomer(BankonetForm)" name="BankonetForm" novalidate >

    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="nom" placeholder="Entrer un Nom" ng-model="updateCustomerCtrl.customer.nom">{{customer}}</input>
    </div>
    <div class="form-group">
      <label for="Prénom">Prénom :</label>
      <input type="text" class="form-control" id="categorie" placeholder="Entrer un Prénom" ng-model="updateCustomerCtrl.customer.prenom">
    </div>
    <div class="form-group">
      <label for="Adresse">Adresse :</label>
      <input type="text" class="form-control" id="adresse" placeholder="Entrer une adresse" ng-model="updateCustomerCtrl.customer.address.number">
    </div>
    <div class="form-group">
      <label for="login">Login :</label>
      <input type="text" class="form-control" id="login" placeholder="Entrer un login" ng-model="updateCustomerCtrl.customer.login">
    </div>
        <div class="form-group">
      <label for="motDePasse">Mot de Passe :</label>
      <input type="text" class="form-control" id="motDePasse" placeholder="Entrer un mot de passe" ng-model="updateCustomerCtrl.customer.password">
    </div>
    <input type="submit" class="btn btn-default" value="Enregistrer" ></input>
  </form>
   
</div>

