
<div class="container">
   <a href="#/customer/listcustomer">Retour à la liste des clients</a>
  <h2>Modification du client N°{{updateCustomerCtrl.customer.id}} </h2><br>

  <form role="form" ng-submit="updateCustomerCtrl.updateCustomer(Form)" name="Form" novalidate >

    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="nom" placeholder="Entrer un Nom" ng-model="updateCustomerCtrl.customer.nom">{{customer}}</input>
    </div>
    <div class="form-group">
      <label for="Prénom">Prénom :</label>
      <input type="text" class="form-control" id="categorie" placeholder="Entrer un Prénom" ng-model="updateCustomerCtrl.customer.prenom">
    </div>
    <div class="form-group" ng-repeat="adresse in updateCustomerCtrl.customer.adresses">
      <label for="Adresse">Adresse n°{{adresse.id}}</label><br>
      <input type="number" class="form-control" id="numRue" placeholder="Entrer le numéro de rue" ng-model="adresse.numero" required>
      <input type="text" class="form-control" id="nomRue" placeholder="Entrer le nom de la rue" ng-model="adresse.rue" required>
      <input type="text" class="form-control" id="nomVille" placeholder="Entrer le nom de la ville" ng-model="adresse.ville" required>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="updateCustomerCtrl.addAdresse()">Nouvelle adresse</button>
    </div>
    <div class="form-group">
      <label for="login">Login(email) :</label>
      <input type="email" class="form-control" id="login" placeholder="Entrer votre email" ng-model="updateCustomerCtrl.customer.login">
    </div>
      
    <input type="submit" class="btn btn-default" value="Enregistrer les modifications" ></input>
  </form>
   
</div>
