<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Répartition des ventes</h3>
      <canvas id="pie" class="chart chart-pie" data="ventesCtrl.products_total" labels="ventesCtrl.products_libelle" legend="true"></canvas> 
    </div>
    <div class="col-md-6">
        <h3>Top 10 Produits</h3>
        <table class="table table-bordered">
        <thead>
          <tr>
            <th>Rang</th>
            <th>ID</th>
            <th>Libelle</th>
            <th>Prix (€)</th>
            <th>Total vendu sur le site</th>
            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in ventesCtrl.products | orderBy: 'total' : true | limitTo : 10">
            <td>{{$index + 1}}</td>
            <td>{{p.id}}</td>
            <td>{{p.libelle}}</td>
            <td>{{p.prix}}</td>
            <td>{{p.total}} </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>