<div class="container">
  <div>
    <h1>Details de la commande</h1>
  </div>
  <!-- bloc d'identification de la commande -->
  <div class="form-group">
    <label class="sr-only">Id de la commande</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.id}}</p>
    <label class="sr-only">Etat de la commande</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.etat}}</p>
  </div>

  <!-- bloc d'identification du client -->
  <div class="form-group">
    <h2>Client<h2>
    <label class="sr-only">Id Client</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.client.id}}</p>
    <label class="sr-only">Nom</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.client.nom}}</p>
    <label class="sr-only">Prenom</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.client.prenom}}</p>
  </div>

  <!-- bloc d'identification de la facture -->
  <div class="form-group">
    <h2>Facture<h2>
    <label class="sr-only">Id Facture</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.id}}</p>
    <label class="sr-only">mode de paiement</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.modepaiement}}</p>
  </div>

  <!-- bloc adresse de Livraison -->
  <div class="form-group">
    <h2>Adresse de livraison<h2>
    <label class="sr-only">N°</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adresselivraison.numero}}</p>
    <label class="sr-only">rue</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adresselivraison.rue}}</p>
    <label class="sr-only">Ville</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adresselivraison.ville}}</p>
  </div>

  <!-- bloc adresse de Facturation -->
  <div class="form-group">
    <h2>Adresse de facturation<h2>
    <label class="sr-only">N°</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adressefacturation.numero}}</p>
    <label class="sr-only">rue</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adressefacturation.rue}}</p>
    <label class="sr-only">Ville</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.facture.adressefacturation.ville}}</p>
  </div>

  <!--bloc tableau des produits -->
  <div class="form-group">
    <label class="sr-only">Nombre de produits</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.nbreProduits}}</p>
    <label class="sr-only">Montant total</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.montant}}</p>
  </div>

  <div class="form-group">
    <label class="sr-only">Nombre de produits</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.nbreProduits}}</p>
    <label class="sr-only">Montant total</label>
    <p class="form-control-static">{{dtlCmdCtrl.commande.montant}}</p>
  </div>

</div>
