
<div class="btn-group btn-group-justified">
  <a  class="btn btn-default" ng-repeat="etat in commandeCtrl.etatsCommandeLibelle" ng-click="commandeCtrl.changerEtat(etat)">{{etat}}</a>
</div>

<table class="table table-bordered">
  <caption>Liste des commandes</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Client</th>
      <th>Etat</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in commandeCtrl.commandes" ng-if="c.etat== commandeCtrl.etat">
      <td> {{c.id}}</td>
      <td> {{c.client.id}} {{c.client.nom}} {{c.client.prenom}} </td>
      <td> {{commandeCtrl.etatLibelle}}</td>
      <td>
        <a ng-click="commandeCtrl.goDetailsProduit(c.client.id,c.id)">
          <button id="afficherLesDetails" class="btn btn-default pull-right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></a>
      </td>
     </tr>

  </tbody>
</table>
