<a href="#/product/createProduct">Créer un produit</a>

<input type="text" ng-model="searchProduct" placeholder="Chercher dans la liste" style="float:right" autofocus>

<table class="table table-bordered">
  <caption>
    Liste des produits.
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Libelle</th>
      <th>Catégorie</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in productCtrl.products | filter:searchProduct">
      <td ng-if="product.actif===false" bgcolor="#F28D8B"> {{product.id}}</td>
      <td ng-if="product.actif===true" bgcolor="#94E4A3"> {{product.id}}</td>
      <td><img data-ng-src="{{product.image}}" alt="le produit {{product.id}}" height="200" width="200"/></td>
      <td>{{product.libelle}}</td>


      <td>{{product.categorie}}</td>
      <td>{{product.prix}}<span class="glyphicon glyphicon-euro symbolEuro" aria-hidden="true"></td>

      <td>
        <button class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash" ng-click="productCtrl.delProduct(product.id)"></span></button>
        <a href = "#/product/updateProduct/{{product.id}}">
          <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></button>
        </a>


        <button type="button" class="btn btn-default pull-right" ng-click="productCtrl.open(product)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
        <a href="#/stats/bestCustomersByProduct/{{product.id}}">
            <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></button>
        </a>
      </td>
      <script type="text/ng-template" id="modalContent.html">
          <div class="modal-header">
              <h3 class="modal-title"><b>{{product.libelle}}</b></h3>
          </div>
          <div class="modal-body">
              <table>
                <tr>
                  <td><img data-ng-src="{{product.image}}" alt="le produit {{product.id}}" height="200" width="200"/> </td>
                  <td>

                    <b>Catégorie :</b> {{product.categorie}} <br>
                    <b>Détails :</b> {{product.caracteristique}} <br>
                    <b>Prix : {{product.prix}} €</b>
                  </td>
                </tr>
              </table>
          </div>
      </script>
        <button type="button" class="btn btn-default pull-right" ng-click="productCtrl.open(product)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></td>
    </tr>
  </tbody>
</table>
