<a href="#/product/createProduct">Créer un produit</a>

<input type="text" ng-model="searchProduct" placeholder="Chercher dans la liste" style="float:right" autofocus>

<table class="table table-bordered">
  <caption>
    Liste des produits.
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>libelle</th>
      <th>caractéristique</th>
      <th>catégorie</th>
      <th>image</th>
      <th>prix</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="produit in productCtrl.products | filter:searchProduct">
      <td>{{produit.id}}</td>
      <td>{{produit.libelle}}</td>
      <td><a href={{produit.caracteristique}}>caractérisitique du produit {{produit.id}} </a></td>
      <td>{{produit.categorie}}</td>
      <td><img src="{{produit.image}}" alt="le produit {{produit.id}}" height="200" width="200"></td>
      <td>{{produit.prix}}</td>
      <td>
        <button ng-click="">Modifier Produit</button>
        <button ng-click="productCtrl.delProduct(produit)">Supprimer Produit {{produit.id}}</button>
      </td>
    </tr>
  </tbody> 
</table>
