<h2>Administration</h2>

<div id="menuAccueil" class="list-group">
	<div class="list-group-item" ng-repeat="menuItem in homeCtrl.menuItems">
		<h4 class="list-group-item-heading">{{menuItem.titre.libelle}}</h4>
		<p class="list-group-item-text">
			<ul>
				<li ng-repeat="item in menuItem.links"><a href="{{item.url}}" id="{{item.id+'Accueil'}}">{{item.affichage}}</a></li>
			</ul>
		</p>
	</div>

  <!--<a href="leCheminVersLaRessource" class="list-group-item active">
    <h4 class="list-group-item-heading">Nom de la page de gestion</h4>
    <p class="list-group-item-text">Une description des fonctionnalités</p>
  </a>
-->
</div>
