<h2>Administration</h2>

<div class="list-group">
	<a href="#/product/listproduct" class="list-group-item">
		<h4 class="list-group-item-heading">Administrer Produits:</h4>
		<p class="list-group-item-text">
			<ul>
				<li>Afficher Produits</li>
				<li>Créer Produit</li>
				<li>Modifier Produit</li>
				<li>Supprimer Produit</li>
			</ul>
		</p>
	</a>
	<a href="#/customer/listcustomer" class="list-group-item">
		<h4 class="list-group-item-heading">Administrer Clients:</h4>
		<p class="list-group-item-text">
			<ul>
				<li id="afficherClient">Afficher Clients</li>
				<li>Créer Client</li>
			</ul>
		</p>
	</a>
	<a href="#/order" class="list-group-item">
		<h4 class="list-group-item-heading">Administrer Commandes:</h4>
		<p class="list-group-item-text">
			<ul>
				<li>Afficher Commandes</li>
				<li>Annuler Commande</li>
				<li>Rehercher Commande par ID,Client,...</li>
			</ul>
		</p>
	</a>
	<a href="#/stats" class="list-group-item">
		<h4 class="list-group-item-heading">Statistiques:</h4>
		<p class="list-group-item-text">
			<ul>
				<li>Afficher les meilleurs clients</li>
				<li>Afficher les produits les plus vendus</li>
				<li>Afficher les clients ayant acheté le plus un produit donné</li>
				<li>Histogramme des ventes mensuelles cette année</li>
			</ul>
		</p>
	</a>

  <!--<a href="leCheminVersLaRessource" class="list-group-item active">
    <h4 class="list-group-item-heading">Nom de la page de gestion</h4>
    <p class="list-group-item-text">Une description des fonctionnalités</p>
  </a>
-->
</div>
